<!-- <div class="roomie-details-block"> -->
    <div layout-fill layout="column" layout-align="center none">
        <div layout="row" layout-align="center none">
<mat-card class="roomie-details">
<mat-card-subtitle>Roomie Status</mat-card-subtitle>
<mat-divider [inset]="true"></mat-divider>
<mat-card-content *ngFor="let roomie_detail of roomie_details$">
  <div class="roomie-name">{{roomie_detail.name}}</div>
  <div class="roomie-status">{{roomie_detail.status}}</div>
</mat-card-content>
</mat-card>
</div>
</div>
<!-- </div> -->